body {
    font-family: 'Share Tech Mono', monospace;
    /* background-color: black; */
}

table {
    border-top: 5px solid #7B7B7B;
    border-left: 5px solid #7B7B7B;
    border-right: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
}


/* This rule partially written by nickarocho
[https://github.com/nickarocho] */
td {
    box-sizing: border-box;
    background-color: #C0C0C0;
    margin: 0;
    padding: 0;
    width: 41px;
    height: 41px;
    border: 4.5px solid;
    border-top-color: #ffffff;
    border-right-color: #7B7B7B;
    border-bottom-color: #7B7B7B;
    border-left-color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

button {
    background-color: #C0C0C0;
    margin-left: 5px;
    margin-bottom: 10px;
}

#gameArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #C0C0C0;
    padding: 15px 15px;
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
    border-bottom: 4px solid #7B7B7B;
    border-right: 4px solid #7B7B7B;
    width: 641px;
    height: 740px;
}

#displays {
    height: 450px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

 .flagged {
    background: url(../img/flag.svg);
    background-size: 39px 39px;
    background-repeat: no-repeat;
 }

 .questionmark {
     background: url(../img/questionmark.svg);
     background-size: 37px 37px;
     background-repeat: no-repeat;
 }

 .mine {
     background: url(../img/mine.svg);
     background-size: 36px 36px;
     background-repeat: no-repeat;
 }

.mineCount {
    font-size: 1.5rem;
    font-weight: bold;
}

#game-status {
    position: relative;
    top: 7px;
}

/* 52px for each smiley */

.smiley {
    width: 52px;
    height: 52px;
    background: url(../img/smileysprite.png);
}

.down-smiley {
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url(../img/smileysprite.png);
    background-position: -51px 0;
}

.o-smiley {
    width: 52px;
    height: 52px;
    background: url(../img/smileysprite.png);
    background-position: -104px 0;
}

.lose-smiley {
    width: 52px;
    height: 52px;
    background: url(../img/smileysprite.png);
    background-position: -156px 0;
}

.win-smiley {
    width: 52px;
    height: 52px;
    background: url(../img/smileysprite.png);
    background-position: -208px 0;
}
